<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Owntribe</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">

                <li>
                    <a href="/">{{_t('home')|capitalize}}</a>
                </li>

                <li>
                    <a href="/tasks">{{_t('tasks')|capitalize}}</a>
                </li>
                <!--
                <li {{menu.active.contribute}}>
                    <a href="/contribute">contribute</a>
                </li>

                <li {{menu.active.newsletter}}>
                    <a href="/newsletter">owntribe</a>
                </li>-->
                {% if logged %}
                <li>
                    <a href="/login">{{_t('logout')|capitalize}}</a>
                </li>
                {% else  %}
                <li>
                    <a href="/login">{{_t('login')|capitalize}}</a>
                </li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
