<!-- Share modal -->
<div class="modal fade modal-share" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <input type="url" readonly class="form-control share-link">

                <p>Send this link to</p>

                <input type="text" class="form-control" placeholder="Recipients">
                <textarea class="form-control" rows="5"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" id="send-button" class="btn btn-primary">Send</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>