{% extends 'includes/layout.html' %}

{% block content %}
    <div class="container">
        <div class="starter-template">
            <h1>{{h1}}</h1>
            <input type="file" id="fileElem" multiple style="display:none" onchange="handleFiles(this.files)">
            <button id="upload-button" type="submit" class="btn btn-primary">Select files</button>
            <div class="file-actions">
                <button id="actions-button" type="submit" class="btn btn-warning">Files actions</button>
            </div>
            <div class="progress-wrapper"></div>
            <br>
            <table id="files" class="table table-hover">
                <thead>
                    <tr>
                        <th class='file-remove'>Delete</th>
                        <th>Name</th>
                        <th>Size</th>
                        <th>Kind</th>
                        <th>Creation date</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {% parent %}
    <script type="text/javascript" src= "../js/custom/files.js"></script>
{% endblock %}