{% include 'includes/header.html' %}
{% include 'includes/menu.html' %}
<div class="container">
    <div class="starter-template">
        <h1>{{h1}}</h1>
        <input type="file" id="fileElem" multiple style="display:none" onchange="handleFiles(this.files)">
        <div id="fileList">
            <p>No files selected!</p>
        </div>
        <button id="upload-button" type="submit" class="btn btn-default">Select some files</button>
        <div class="progress-wrapper"></div>
        <h2>Files</h2>
        <table id="files" class="table .table-condensed .table-hover">

        </table>
    </div>
    {% include 'includes/footer_scripts.html' %}
    <script type="text/javascript">
        $(document).ready(function(){
            loadFiles();
        });

        function loadFiles() {
            $.ajax({
                url: "api/files/get",
                success: function(result){
                    if(result.result) {
                        $("#files").children().remove();
                        for(var file in result.data) {
                            $("#files").append("<tr>" +
                            "<td><a href='files/download/" + result.data[file].id +"/"+
                            result.data[file].name + "'>"+result.data[file].name+"</a></td>" +
                            "<td class='ar'>"+ result.data[file].size+"</td>" +
                            "<td class='ar'>"+ result.data[file].mimetype+"</td>" +
                            "<td class='ar'>"+ result.data[file].created+"</td>" +
                            "</tr>");
                        }
                    } else {
                        // TODO: error message/action
                    }
                },
                error: function(result) {
                    console.log(result);
                }
            });
        }

        var uploadButton = document.getElementById("upload-button");
        var fileElem = document.getElementById("fileElem");

        uploadButton.addEventListener("click", function(event){
            fileElem.click();
        });

        fileElem.addEventListener("change", function(event) {
            handleFiles(fileElem);
        });

        function handleFiles(fileSelect) {
            // Update button text.
            uploadButton.innerHTML = 'Uploading...';

            if(fileSelect.files && fileSelect.files.length > 0) {
                var files = fileSelect.files;

                // Loop through each of the selected files.
                for (var i = 0; i < files.length; i++) {
                    var file = files[i];
                    // Add the file to the request.
                    sendFormFile(file);
                }
            }
        }

        function sendFormFile(file) {
            var formData = new FormData();
            // Set up the request.
            formData.append('filesselect', file, file.name);

            var stringFileName = file.name + Math.floor(Date.now() / 1000);
            file.hash = stringFileName.hashCode();

            //add progress-bar ui
            $('.progress-wrapper').append('' +
                '<div class="progress">' +
                    '<div class="progress-bar" file-name="'+file.hash+'" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                '</div>'
            );

            var xhr = new XMLHttpRequest();

            xhr.upload.onprogress = (function(event) {
                updateProgress(event, file)
            });

            xhr.upload.onloadend = (function(event){
                transferComplete(event, file);
            });

            xhr.open('POST', 'api/files/add', true);

            // Set up a handler for when the request finishes.
            xhr.onload = function () {
                if (xhr.status === 200) {
                    // File(s) uploaded.
                    uploadButton.innerHTML = 'Upload';
                    loadFiles();
//                    delete filesselect.files;
                } else {
                    console.log(xhr);
                    alert('An error occurred!');
                }
            };

            // Send the Data.
            xhr.send(formData);
        }

        // progress on transfers from the server to the client (downloads)
        function updateProgress (event, file) {
            if (event.lengthComputable) {
                var percentComplete = event.loaded / event.total * 100;
                $('.progress-bar[file-name="'+file.hash+'"]').width(percentComplete+'%');
            } else {
                // Unable to compute progress information since the total size is unknown
            }
        }

        function transferComplete(event, file) {
            $('<p>'+file.name+'</p>').insertAfter($('.progress-bar[file-name="'+file.hash+'"]').closest(".progress"));
//            $('.progress-wrapper').append('<p>'+file.name+'</p>')
        }

        String.prototype.hashCode = function(){
            var hash = 0;
            if (this.length == 0) return hash;
            for (i = 0; i < this.length; i++) {
                char = this.charCodeAt(i);
                hash = ((hash<<5)-hash)+char;
                hash = hash & hash; // Convert to 32bit integer
            }
            return hash;
        }
    </script>
</div>
{% include 'includes/footer.html' %} 