{% extends 'includes/layout.html' %}

{% block content %}
    <div class="container">
        <h1>{{h1}}</h1>
        <div class="alert alert-warning" role="alert" style="display:none">
            Login failed, please try again!
        </div>
        <form method="post" action="" onsubmit="return false;">
            <div class="form-group">
                <label for="email">Login</label>
                <input type="text" class="form-control" id="email" placeholder="login or email" name="title"
                       {% if !production %} value="{{ autoLog.email }}"{% endif %}/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="password" name="description"
                {% if !production %} value="{{ autoLog.password }}"{% endif %}/>
            </div>
            <button id="login" class="btn btn-default" onclick="doLogin()">Submit</button>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    {% parent %}
    <script type="text/javascript" src="../js/custom/login.js"></script>

    {% if !production %}
    <!-- in dev mode, autologin -->
    <script type="text/javascript">
        $(document).ready(function(){
            $('#email').focus();
            //$('#login').click();
        });
    </script>
    {% endif %}
{% endblock %}


