{% include 'includes/header.html' %}
{% include 'includes/menu.html' %}
<div class="container">

    <div class="starter-template">
        <div class="alert alert-success _notification" role="alert" style="float:right;display:none">Your email has been sent!</div>
        <h1>{{h1}}</h1>
        <form method="post" class="_messages">
            <div class="form-group" style="line-height: 3em">
                <strong>{{_t('to :')|capitalize}}</strong>
                <div class="btn-group js-all">
                    <button type="button" class="btn btn-default" aria-expanded="false">All <span class="badge"></span></button>
                    <button class="btn btn-primary _emails" type="button">
                        <span class="glyphicon glyphicon-edit" aria-hidden="false"></span>
                    </button>
                </div>
                {% for email in emails %}
                <div class="btn-group js-email" style="display: none" emailaddr="{{email}}">
                    <button type="button" class="btn btn-default" aria-expanded="false" >{{email}}</button>
                    <button class="btn btn-primary" type="button">
                        <span class="glyphicon glyphicon-remove" aria-hidden="false"></span>
                    </button>
                </div>
                {% endfor %}
            </div>
            <div class="form-group">

                <input type="text" class="form-control" id="title" placeholder="Object" name="title" autofocus>
            </div>
            <div class="checkbox">
                <textarea id="message_body" class="form-control" rows="3" placeholder="message"></textarea>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
            <img class="_loader" src="img/ajax-loader.gif" style="display:none" />
        </form>
    </div>
</div>
{% include 'includes/footer_scripts.html' %}
<script type="text/javascript">
    $(document).ready(function(){
        // init the view
        $("._loader").hide();

        $( "form._messages" ).submit(function( event ) {
            event.preventDefault();
        });

        $( ".js-all .badge" ).text($(".js-email").length);

        // events
        $( ".js-all" ).click(function(){
            $(".js-all").hide();
            $(".js-email").show();
        });

        $( ".js-email" ).click(function(){
            $(this).hide(300, function(){
                if($(".js-email:visible").length == 0) {
                    $(".js-all").show();
                }
            });
        });

        $( "button[type='submit']" ).click(function(){
            $("._loader").show();
            var emails = [];
            $.each($(".js-email:visible"), function(key, div){
                console.log("div", div);
                emails.push($(div).attr('emailaddr'));
            });
            console.log(emails);
            $.ajax({
                url: "/api/messages/send",
                data: {
                    title: $("#title").val(),
                    body: $("textarea").val(),
                    emails: emails.join(",")
                },
                method: "POST"
            }).done(function (res) {
                console.log(res);
                if(res.result) {
                    $("._notification").show();
                    setTimeout('$("._notification").hide()', 2000);
                } else {

                }
                $("._loader").hide();
            });
        });
    });
</script>
{% include 'includes/footer.html' %}