{% include 'includes/header.html' %}
{% include 'includes/menu.html' %}
<div class="container">
    <div class="starter-template">
        <h1>{{h1}}<button id="new" type="button" class="btn btn-primary add" style="float:right">New task ( N )</button></h1>
        <div class="panel panel-primary" id="add" style="display:none">
            <div class="panel-heading">New task</div>
            <div class="panel-body">
                <form method="post" action="tasks">
                    {% if addTaskResult %}
                    <div class="form-group has-error">
                    {% else %}
                    <div class="form-group">
                    {% endif %}
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" placeholder="Enter a task title" name="title">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" class="form-control" id="description" placeholder="A description (optional)" name="description">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" checked="checked" name="private"> this task is private, only you can see it ( P )
                        </label>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
        <div>
            {% if addTaskResult %}
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Your task has been added!
                <script type="text/javascript">
                    setTimeout("fadeOut()", 1000);
                    function fadeOut() {
                        $('div.alert-warning').fadeOut(1000, 'linear', function(){ $('div.alert-warning').remove()});
                    }
                </script>
            </div>
            {% endif %}

            <div role="tabpanel">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" style="margin-bottom: 10px" role="tablist">
                    <li role="presentation" class="active"><a href="#todo-list" aria-controls="todo-list" role="tab" data-toggle="tab">To do <span class="badge">{{tasks_number}}</span></a></li>
                    <li role="presentation"><a href="/tasks/done" aria-controls="done-list" role="tab" data-toggle="tabajax" data-target="#done-list">Done <span class="badge">{{done_number}}</span></a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="todo-list">
                        {% for task in tasks %}
                        <div class="list-group">
                            <a href="#" class="list-group-item" style="height:57px">
                                <button taskid="{{task.id}}" style="float:right" type="button" class="btn btn-primary add"
                                        onclick="setTaskStatus(this)">Done!</button>
                                <h4 class="list-group-item-heading">#{{task.id}} {{task.name}}

                                </h4>
                                <p class="list-group-item-text">{{task.description}}</p>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="done-list">
                        <!----- task template -->
                        <div style="display: none;">
                            <div class="list-group" >
                                <a href="#" class="list-group-item" style="height:57px">
                                    <h4 class="list-group-item-heading"> </h4>
                                    <p class="list-group-item-text"> </p>
                                </a>
                            </div>
                        </div>
                        <!----- end task template -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'includes/footer_scripts.html' %}
<script type="text/javascript">

    // defines if hiting the key N should toggle the add task form
    var keyToggle = true;


    function setTaskStatus(node) {
        $.ajax({
            url: "/api/tasks/set/" + $(node).attr("taskid") + "/done",
            context: document.body
        }).done(function (res) {
            if(res.result) {
                document.location.href = "/tasks";
            }
        });
    }

    $(document).ready(function() {
        $('#new').click(function () {
            $('#add').toggle();
            $("#title").click();
        });

        $("#title, #description").focusin(function(){
            keyToggle = false;
        });

        $("#title, #description").focusout(function(){
            keyToggle = true;
        });

        $(window).keydown(function(event) {
            if(event.keyCode  == 78) {
                if(keyToggle) {
                    $('#add').toggle(null, function(){
                        $('#add').focus();
                        $("#title").click();
                    });
                }
            }
        });

        var urlDone = '/api/tasks/get/done';

        $('[data-toggle="tabajax"]').click(function(e) {
            $.get(urlDone, function(data) {
                if(data.result) {
                    var rows = data.data;
                    var template = $("#done-list div:first");
                    $.each(rows, function(item){
                        rows[item];
                        $("h4", template).text("#" + rows[item].id + " " + rows[item].name);
                        $("p", template).text(rows[item].description);
                        $("#done-list").append($(template).html());
                    });
                }
            });
            $(this).tab('show');
            return false;
        });
    });
</script>


{% include 'includes/footer.html' %}