{% include 'includes/header.html' %}
{% include 'includes/menu.html' %}
<div class="container">
    <div class="starter-template">
        <h1>{{h1}}</h1>
        <div class="list-group">
            <a href="#" class="list-group-item active">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">Hello, how are you?</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">Some text</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">Some text2</p>
            </a>
        </div>
        <textarea class="form-control" rows="3"></textarea>

    </div>
</div>
{% include 'includes/footer_scripts.html' %}
<script type="text/javascript">
//
</script>
{% include 'includes/footer.html' %}