.fr {
    float:right;
}

.fl {
    float:left;
}
.src {
    display: inline;
    position: absolute;
    vertical-align: middle;
    height: 34px;
    line-height: 34px;
    border: none;
}

.filter {
    display: inline-block;
    border: none;
    outline: 0;
    margin: 5px;
    width: 100px;
}

.js-to {
    border-bottom: solid 1px #ccc;
    padding:5px;
    margin-bottom: 5px;
}

.selected {
    background-color: #ddd;
}

.ml5 {
    margin-left: 5px;
}

.mr5 {
    margin-left: 5px;
}

.progress-wrapper {
  padding: 5px 0;
}

.progress-wrapper .progress {
  margin-bottom: 5px;
}

.file-actions {
  float: right;
  display: none;
}

.file-remove {
  display: none;
}

.share {
  min-width: 120px;
  text-align: center;
}

.share .label-share {
  margin-left: 10px;
  cursor: pointer;
  display: none;
}

.share-link {
}

.modal-share {
  top:20%;
  outline: none;
}

.shared,
.get-ico {
  color: #3c763d;
}

.get-ico {
  margin-left: 5px;
  cursor: pointer;
}

.link-box {
  display: block;
  z-index: 2000;
  position: absolute;
  margin-top: -47px;
  margin-left: -80px;
}